# 忽略 Minecraft 本体文件等
.minecraft/versions/**/*.jar
.minecraft/versions/**/*.xml
.minecraft/versions/**/*.dll
.minecraft/versions/**/*.x

# 忽略 日志文件
.minecraft/logs/
.minecraft/debug/
PCL/*.txt

# 忽略 会自动补充的等文件
.minecraft/servers.dat_old
.minecraft/realms_persistence.json
.minecraft/usercache.json
.minecraft/too_many_shortcuts.json
.minecraft/command_history.txt
.minecraft/CustomSkinLoader/
.minecraft/.replay_cache/
.minecraft/replay_recordings/
.minecraft/voxelmap/
.minecraft/screenshots/
.minecraft/libraries/
.minecraft/itemscroller/
.minecraft/.mixin.out/
.minecraft/global/
.minecraft/crash-reports/
.minecraft/data/
.minecraft/assets/
.minecraft/saves/
.minecraft/downloads/